{
  "plugins": ["./node_modules/prettier-plugin-tailwindcss"],
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSameLine": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true
}
